*:root{
    --primary-color: #306BB3;
    --link-color: #fff;
    --text-color:#1a202c;
    --title-color: #486284;
  }

  html {
    box-sizing: border-box;
  }

  *,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
  }


.title2-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.title2-container h2{
    text-align: center;
    color: var(--title-color);
    font-size: 3rem;
    padding: 1cm;
}

.title2-container p{
    text-align: center;
    color: #1a202c;
    width: 1rem;
    align-self: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.ash2{
    width: 100%;
    display: flex;
    padding-bottom: 2rem;
    /* justify-content: center; */
}

.ash2 img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

.textContainer{
    display: flex;
    flex-direction: row;
    padding: 4rem 1.5rem;
}

.text-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-black);
    font-weight: 100;
    width: 60%;
    font-size: 1rem;
    margin-left: 1rem;
}

/* Dark Theme */

.classDarkMode{
    background-color: black;
    color: var(--link-color);
  }
  
  .classDarkMode p{
    color: var(--link-color);
  }
  
  .classDarkMode a{
    color: var(--link-color);
  }

@media (min-width: 1200px){
    .title2-container p{
        width: 45%;
        align-self: center;
    }

    .textContainer{
        display: flex;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .ash2{
        width: 40%;
        margin-left: 2rem;
    }

    .ash2 img{
        width: 100%;
    }

    .text-main{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        line-height: 2.8rem;
        color:#1a202c;
        font-weight: bold;
    }
}

@media (max-width: 1440) {
    .text-main p{
        font-size: 25px;
    }
}